/**
 * Author: Jordi Roda, Ernest Pastor, Filip Velickovski, Magí Lluch-Ariet  
 * Barcelona Digital Technology Centre, 2014 
 * 
 * Open Health Practice is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Open Health Practice is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
 
form#ohp-case-form .column-right, form#ohp-case-form .column-left {
width: 49%;
margin: 0;
}
form#ohp-case-form .column-right {
float: right;
}
form#ohp-case-form .column-left {
float: left;
}
form#ohp-case-formunit fieldset select {
	width: 244px;padding: 8px 16px;
}
form#ohp-case-formunit fieldset input {
    width: 210px;
}
form#ohp-case-formunit fieldset  input[disabled] {
    padding-left: 16px;
} 
form#ohp-case-formunit fieldset  input[disabled], 
form#ohp-case-formunit fieldset select[disabled], 
form#ohp-case-formunit fieldset textarea[disabled] {
	background-color: #ccc;
	border-width: 1px;
	color: #48525e;
}
form#ohp-case-formunit fieldset .form-numeric {
	text-align: left;
}
form#ohp-case-formunit fieldset a.info_popup {
	margin: -4px 8px;
}
.inline-row .form-item {
	width: 360px;
    margin: 0px 0px 5px 110px;
	display: inline-block;
}
.notitlebox {
    padding: 10px 10px 10px 10px;
}
.notitlebox .question {
    font-weight: bold;
}
.notitlebox hr {
    margin-top: 0px;
    margin-bottom: 8px;
}
.notitlebox hr:last-child {
	margin-top: 20px;
}
#edit-submit-area {
	padding-bottom: 10px;
}
.columnboxes {
    padding:10px 0 10px 0
}
.columnboxes .column:last-child {
    margin-right: 0px;
}
.columnboxes .column {
    float: left;
    margin-right: 22px;
}
.columnboxes .column.por6 {
    width: 658px;
}
.columnboxes .column.por3 {
    width: 318px;
}
.columnboxes .column.por2 {
    width: 330px;
}
.columnboxes .column.por1 {
    width: 1000px;
}
.columnboxes .column fieldset .question {
    font-weight:bold;
}
.columnboxes .column fieldset .answer {
    font-weight:none;
}
