body {
  margin:0px;
}
 
/* Black header section */
.black-header {
  height:50px;
  background-color:#333;
}

/* User Menu */
.black-header h2, .scratch-main-menu h2 {
  display:none;
}
.black-header ul, .scratch-main-menu ul {
  list-style-type:none !important;
  margin:0;
  padding:0;
  padding-top:12px;
  padding-right:30px;
  float:right;
}
.black-header li, .scratch-main-menu li {
  display:inline;
}
.scratch-user-menu {
  width:960px;
  margin-left:auto;
  margin-right:auto;
}
.scratch-user-menu .user-menu a:link {color:#FFF; text-decoration: none;}      
.scratch-user-menu .user-menu a:visited {color:#FFF; text-decoration: none;}  
.scratch-user-menu .user-menu a:hover {color:#FFF; text-decoration: underline;}  
.scratch-user-menu .user-menu a:active {color:#FFF; text-decoration: none;}
/* footer */
.scratch-footer {
  width:960px;
  margin-left:auto;
  margin-right:auto;
  color:#4d4d4d;
  text-align:center;
}
